<h1>Enregistrement d'un utilisateur</h1>
<form (ngSubmit)="registerUser()">
  <div>
    <label>Email:</label>
    <input type="email" [(ngModel)]="user.email" name="email" required>
  </div>
  <div>
    <label>Nom:</label>
    <input type="text" [(ngModel)]="user.nom" name="nom" required>
  </div>
  <div>
    <label>Prénom:</label>
    <input type="text" [(ngModel)]="user.prenom" name="prenom" required>
  </div>
  <div>
    <label>Téléphone:</label>
    <input type="tel" [(ngModel)]="user.tel" name="tel" required>
  </div>
  <div>
    <label>Mot de passe:</label>
    <input type="password" [(ngModel)]="user.password" name="password" required>
  </div>
  <button type="submit">Enregistrer</button>
</form>
